<h1>This is the secret page!</h1>

<p>You found me!</p>

<ul>
    <li><a href="/registration">Sign Up!</a></li>
    <li><a href="/login">Login!</a></li>
    <li><a href="/logout">Logout!</a></li>
</ul>