<% include partials/header %>

<h1>You fell in love with: <%= thingVar.toUpperCase() %> </h1>
<% if (thingVar.toLowerCase() === "ridgeback") { %>
    <p>GOOD CHOICE! RIDGEBACKS ARE AWESOME!!</p>
<% } else { %>
    <p>Bad choice! Ridgebacks are better :(</p>
<% } %>
<p>P.S. this is the love.ejs file</p>

<% include partials/footer %>